/*.textopt{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
    font-size: 50px;
    font-style: italic;
}*/
@font-face {
    font-family: "Exo2Bold";
    src: url("../fonts/Exo2Bold/Exo2Bold.eot");
    src: url("../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Exo2MediumItalic";
    src: url("../fonts/Exo2MediumItalic/Exo2MediumItalic.eot");
    src: url("../fonts/Exo2MediumItalic/Exo2MediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2MediumItalic/Exo2MediumItalic.woff") format("woff"),
    url("../fonts/Exo2MediumItalic/Exo2MediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Exo2Medium";
    src: url("../fonts/Exo2Medium/Exo2Medium.eot");
    src: url("../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Exo2BoldItalic";
    src: url("../fonts/Exo2BoldItalic/Exo2BoldItalic.eot");
    src: url("../fonts/Exo2BoldItalic/Exo2BoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2BoldItalic/Exo2BoldItalic.woff") format("woff"),
    url("../fonts/Exo2BoldItalic/Exo2BoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("noname.png");
}
#block-body{
    width: 1400px;
    margin:5px auto;
    height: auto;
    float: left;
}
header{
    margin-top: -3px;
    width: 1440px;
    height: 85px;
    border-radius: 15px;
    background-color: gray;
    background-image: url("back2.png");
}
.logo{
    width:200px;
    float:left;
    height: 80px;
}
.logo a{
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2Bold",sans-serif;
    font-size: 28px;
    color:blue;
    text-decoration: none;
    cursor: pointer;
}
.Ran{
    color:lawngreen; 
}
.Proj{
    color:pink;
}
.logo p {
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-family: "Exo2Bold",sans-serif;
    font-size: 18px;
    color:palevioletred;
}
.top-menu{
    width: 800px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
}
.top-menu ul li {
    margin-bottom: 20px;
    list-style: none;
    float:left;
    text-align: center;
}

.top-menu ul li a {
display: block;
padding-top: 24px;
margin-bottom: 2px;
width:120px;
text-decoration:none;
font-family: "Exo2-Medium",sans-serif;
color:black;
height: 60px;

border-radius: 25px;
cursor: pointer;
} 
.top-menu ul li a:hover{
    opacity: .2; 
    background:#EFD3CC;
    transition: all 0.5 ease ;
     -o-transition: all 0.5 ease ;
     -webkit-transition: all 0.5 ease ;
     -moz-transition: all 0.5 ease ;
 }
.block-top-aut {
    width:310px;
    height: 80px;
    float: right;
    margin-right: 20px;
    margin-right: 100;
}
.block-top-aut ul li {
    list-style: none;
    float: right;
    text-align:center;  
}
.block-top-aut ul li a{
    display: block;
    width:120px;
    text-decoration:none;
    font-family: "Exo2-Medium",sans-serif;
    color:#565352;
    height: 80px;
    padding-top: 25px;
    text-decoration: underline;
    
}
.block-top-aut ul li a:hover{
    transition: all 0.5 ease ;
    -o-transition: all 0.5 ease ;
    -webkit-transition: all 0.5 ease ;
    -moz-transition: all 0.5 ease ;
    
    color:green;
}
